@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
}

:root {
  --primary-text-color: #183b54;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.hover_links {
  color: var(--primary-text-color);
}
.hover_links:hover {
  color: var(--accent-color);
  transition: 0.2s ease-out;
}
.primary_button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 500;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
}
.primary_button:hover {
  background-color: var(--accent-color-dark);
}

.secondary_button {
  border-radius: 6px;
  transition: 0.2s ease-out;
  font-weight: 500;
  color: var(--primary-text-color) !important;
  padding: 12px 24px;
  border: 0.5px solid var(--secondary-text-color);
}
.secondary_button:hover {
  border-color: var(--accent-color);
  color: var(--accent-color) !important;
}

.small-bold-text {
  font-size: 1rem;
  font-weight: 500;
}
.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}
.top-banner {
  background-image: url("./assets/asset\ 32.png");
  background-color: #2294ed;
  background-size: 300px;
}
.banner_text {
  color: white;
  padding: 15px 30px;
  text-align: center;
}

.main_nav {
  justify-content: space-between;
  margin-top: 20px;
}

.company_logo img {
  width: 200px;
}

.nav_links {
  flex-basis: 730px;
}

.nav_links ul {
  justify-content: end;
  gap: 40px;
}

/* header section */
header {
  padding: 50px var(--padding-inline-section) 0;
}

.header_section {
  justify-content: center;
  gap: 50px;
}

.header_left {
  max-width: 40vw;
}

.header_left h1 {
  margin-top: 20px;
}

.get_started_btn {
  margin-top: 20px;
}

.header_right img {
  width: 600px;
}

/* compaines header section */

.compaines_header {
  text-align: center;
  margin-block: 30px;
  color: var(--primary-text-color);
}

.logos {
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  height: 46px;
}

/* features header*/
.features_section {
  padding: 80px 20px 0;
  background-image: url(./assets/asset\ 34.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.features_header {
  text-align: center;
}
.feature_text {
  margin-bottom: 20px;
}

.features_area {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-top: 20px;
}

.features_card {
  flex-direction: column;
  gap: 20px;
  max-width: 30%;
  text-align: center;
}

img {
  margin-left: 8px;
}

/* big features header */

.big_feature_section {
  padding: 30px var(--padding-inline-section) 0;
}

.big_feature {
  gap: 30px;
}

.feature_img img {
  width: 100%;
}

.feature_desc {
  flex-direction: column;
  align-items: flex-start;
}
/* example header */

.example_header {
  flex-direction: column;
  gap: 20px;
}

.example_card {
  width: 23%;
  position: relative;
  min-height: 300px;
  background: black;
  background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
    url(./assets/asset\ 36.jpeg);
}
.example_area {
  justify-content: space-between;
  margin-block: 30px;
}
.card_text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
}

/* cta-section */
.cta-section {
  background-color: #183b54;
  height: 60vh;
}
.cta_cointainer {
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;

  color: white;
  padding: 120px var(--padding-inline-section);
}
.cta_cointainer p {
  color: #b9cde4;
}

.cta_cointainer ul {
  columns: 2;
  gap: 50px;
}

.cta_cointainer ul li {
  font-size: 0.9rem;
  font-weight: 200;
  color: #b9cde4;
  padding-top: 0.5rem;
}

.img_container {
  width: 40%;
  position: relative;
}

.img_container .second_img {
  position: absolute;
  left: 10.5rem;
}

.img_container p {
  color: #183b54;
  position: absolute;
  left: 16rem;
  right: 4rem;
  line-height: 2rem;
  font-weight: 700;
  font-size: 1.4rem;
}
.img_container p span {
  font-size: 3rem;
  padding: 1.2rem;

  color: #2294ed;
}
.text_Con {
  flex-direction: column;
  padding: 5rem;
  gap: 20px;
}

.text_Con h1 {
  font-size: 2.5rem;
}

.text_Con h3 {
  font-size: 1rem;
}

footer {
  padding-block: 80px;
  background-color: #ebf2fa;
}

.link_column {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer_container {
  align-items: flex-start;
  justify-content: space-between;
}
